/* Статичные элементы */

h1{
    color: #09d;
}

h2{
    color: #0a0;
}

h3{
    color: #aa0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
}

.formula-header{
    color: #0a0;
    font-weight: bolder;
}

.infobox-header{
    color: #05f;
    font-weight: bolder;
}

.infobox{
    background-color: #eee;
    margin: 15px 0px;
    padding: 0% 5% 3% 5%;
    border-radius: 12px;
    border-left: 8px #0df solid;
    overflow-x: auto;
    background-image: url('/images/info.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 3rem;
}

.formula{
    background-color: #eee;
    margin: 15px 0px;
    padding: 0% 5% 3% 5%;
    border-radius: 12px;
    border-left: 8px #0f0 solid;
    overflow-x: auto;
    background-image: url('/images/formula.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 3rem;
}

code, .formula, .infobox {
  font-family: 'Courier New', monospace; /* Для формул и кода */
}

code{
    font-weight: bold;
    background-color: #ddd;
    padding: 3px 5px;
    border-radius: 5px;
}

.footer{
    justify-content: center;
    padding: 1% 5%;

    background-color: #ddd;
    border: .2px #aaa solid;
}

.main-div{
    box-shadow: 1px 10px 50px #0003;
    border-radius: 15px;
    margin: 5%;
    padding: 5%;
}

/* Интерактивные элементы */

.up-button{
    float: right;
    background-color: white;
    margin: 1%;
    padding: 1% 1.5%;
    border: 2px #000 solid;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 100ms;
    position: sticky;
}

.up-button:hover{
    background-color: #aaa;
    box-shadow: 0px 0px 10px #0af;
}

.up-button:active{
    background-color: #999;
    box-shadow: 0px 0px 20px #0ff;
}